$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  font-family: 'Georgia', Times, serif;
  font-size: 3em;
  padding-bottom: 15px;
  text-align: center;
}

h2 {
  font-family: 'Georgia', Times, serif;
  font-size: 1.5em;
  padding-left: 20px;
}

#home-page-message,
#logged-in-message {
  font-family: 'Georgia', Times, serif;
  font-size: 1.25em;
  padding-left: 20px;
  padding-top: 20px;
}

#sign-in,
#sign-up {
  padding-left: 20px;
}


.display-game-board,
.new-game,
.stats,
.home,
.sign-out {
  display: none;
  padding-left: 20px;
  padding-top: 20px;
}

.display-game-board {
  margin-top: 100px;
}

.cell:hover {
  background-color: #ADD8E6;
}

td {
  border: 2px solid #333;
  cursor: pointer;
  font-family: 'Georgia', Times, serif;
  font-size: 70px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

table {
  border-collapse: collapse;
  left: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  top: 50px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}
